.title {
  background-color: rgb(173, 223, 219);
  border: 1px solid #000;
  padding: 20px 60px;
  margin-top: 40px;
  border-radius: 4px;
  border: #202020;
  margin-bottom: 5px;
  font-size: 24 px;
  font-style: italic;
  color: rgb(6, 58, 54);
  text-shadow: rgb(255, 255, 255) 0px 1px 1px;
  text-align: center;
  box-shadow: rgb(139, 167, 147) -1px -1px 15px,
    rgb(255, 255, 255) 15px 15px 35px;
}
